{% extends "App::layout.html.twig" %}

{% block nav_content %}
    {{ knp_menu_render(knp_menu_get('App:Builder:mainMenu', [], { 'active': 'random' })) }}
{% endblock %}

{% block content %}
    <div id="joke-random">
        {% include "App:App:Util/joke-item.html.twig" with { 'joke': joke } %}
        <a href="/random" id="joke-random-next">Next &rarr;	</a>
    </div>
{% endblock %}