{% extends "App::layout.html.twig" %}

{% block nav_content %}
    {{ knp_menu_render(knp_menu_get('App:Builder:mainMenu', [], { 'active': 'submit' })) }}
{% endblock %}

{% block content %}

<div id="joke-form">
    <form action="/submit" method="post" accept-charset="utf-8">
        <div id="author-block">
            <label for="author">Author</label>
            <div>
                <input type="text" name="author" value="" id="author" placeholder="Anonymous">
            </div>
        </div>
    
        <div class="joke-block">
            <p>Knock knock!</p>
            <p>Who's there?</p>
    
            <div>
                <div>
                    <input type="text" name="who[]" value="" id="who_0" placeholder="Banana">
                </div>
            </div>
            <p><span id="span_who_0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> who?</p>
        </div>
    
        <div id="form-controls">
            <input class="btn" type="submit" value="Add Knock knock" id="knockknock-button">
            <input class="btn" type="submit" value="Add punchline" id="punchline-button">
            <input class="btn" type="submit" value="Submit" disabled="disabled" id="save-form-button">
        </div>
    </form> 
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf-8">
        var hasPunchLine = false;
        var who = 1;
        
        $.fn.mirror = function (selector) {
            return this.each(function () {
                var $this = $(this);
                var $selector = $(selector);
                
                $this.bind('keyup keypress blur', function () {
                    var fill = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                    var val = $this.val();
                    
                    $selector.html(val + fill.substr(0, (15 - val.length) * 6));
                });
            });
        };
        
        $('#who_0').mirror('#span_who_0');
    
        $('#punchline-button').click(function() {
            if (!hasPunchLine) {
                hasPunchLine = true;
                
                var block = $('<div id="punchline"><input type="text" name="punchline" value="" placeholder="Punchline" required="required"></div>').hide();
                
                $('#form-controls').before(block);
                block.show('slow');
                
                $('#punchline-button').attr('disabled', 'disabled');
                $('#knockknock-button').attr('disabled', 'disabled');
                $('#save-form-button').removeAttr('disabled');
            };

            return false;
        });
        
        $('#knockknock-button').click(function() {
            var block = $(
                '<div class="joke-block">'
                +   '<p>Knock knock!</p>'
                +   '<p>Who\'s there?</p>'
                +   '<div>'
                +       '<div>'
                +           '<input type="text" name="who[]" value="" id="who_' + who + '" placeholder="Banana" required="required">'
                +       '</div>'
                +   '</div>'
                +   '<p><span id="span_who_' + who + '">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> who?</p>'
                + '</div>'
            ).hide();
            
            $('#form-controls').before(block);
            block.show('slow');
        
            $('#who_' + who).mirror('#span_who_' + who);
            
            who++
            
            return false
        });
    </script>
{% endblock %}