app/kernel.custom.yml
cache/*
logs/*
vendor/*
web/css/*
web/js/*
web/bundles/*
composer.lock
!.gitkeep
!vendor/assets
.DS_Store
*.php~
web/bundles/app/css/*
web/bundles/app/js/*
web/.htaccess
web/bundles/app/fonts/*