app/kernel.custom.yml
cache/*
logs/*
vendor/*
web/css/*
web/js/*
web/bundles/*
composer.lock
!.gitkeep
!vendor/assets
.DS_Store
*.php~
web/bundles/app/css/style.less
web/bundles/app/js
web/css/baf8ce3.css
web/css/baf8ce3_part_1_bootstrap_1.css
web/css/baf8ce3_part_1_style_1.css
web/css/baf8ce3_part_1_style_2.css
web/.htaccess