@import "../../../../../vendor/assets/css/libs/bootstrap.less";

body {
    padding-top: 60px;
    
/*    background-image: url('/bundles/app/img/dark_wood.png');*/
}

.joke-unit {
    background-color: @heroUnitBackground;
    
    .border-radius(6px);
    
    margin-bottom: 20px;
    padding: 10px;
}

.hidden {
    display: none;
}

.plus-one-button > div {
    width: 60px !important;
}